h1 {
  background-color: rgb(126, 224, 7);
  color: blue;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
#e12 {
  background-color: rgb(0, 255, 0);
  color: rgb(40, 9, 114);
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
body {
  background-color: rgb(31, 193, 242);
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav {
  background-color: rgb(13, 255, 0);
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
#e13 {
  background-color: rgb(25, 1, 19);
  color: rgb(241, 241, 241);
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
#e14 {
  background-color: rgb(15, 14, 14);
  color: rgb(3, 236, 116);
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

      img {
        width: 600px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-top: 10px;
      }


label {
  color: rgb(34, 23, 232);
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* #i1 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
} */

nav {
  display: flex;
  gap: 380px;
  list-style: none;
  padding: 0;
}
ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}
.c {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
}
div>p{
    color: rgb(13, 66, 0);
    background-color: rgb(231, 202, 74);
    text-size-adjust: 20px;
}

div p {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 182, 12);
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* h2+p {
  color: rgb(0, 0, 0);
  background-color: rgb(237, 234, 25);
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
} */
input[type="email"]{
    color: rgba(11, 8, 228, 0.614);
    background-color: saddlebrown;
    border: 20px solid;
}
input[type="submit"] {
  color: rgb(238, 6, 6);
  background-color: rgb(233, 179, 31);
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 5px ;
}
textarea{
    color: rgb(0, 0, 0);
    background-color: rgb(6, 229, 181);
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border-radius: 5px;
}
a:hover {
  color: rgb(11, 11, 11);
  background-color: rgb(255, 4, 0);
}
h2+ul{
    color: rgb(0, 69, 241);
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(237, 234, 25);
}
/* p::after {
  content: "welcome to my profile";
  height: 5px;
  background-color: rgb(0, 69, 241);
} */
 
  /* p::before {
  content: "welcome to my profile";
  height: 2px;
  background-color: rgb(54, 162, 15);
}  */
li:nth-child(1) {
  background-color: rgb(67, 225, 14);
}
li:nth-child(2) {
  background-color: rgb(248, 183, 63);
}
li:nth-child(3) {
  background-color: rgb(225, 41, 109);
}
input:focus {
  border: 2px solid rgb(255, 32, 3);
  background-color: blueviolet;
 
}
input:hover {
    border-right: 10px solid rgb(255, 0, 0);
  background-color: rgb(235, 0, 59);
  color: rgb(8, 219, 26);
}
.contaner {
  display: flex;
  align-items: center;

  background-color: yellowgreen;


}
.item {
    padding: 80px;
   text-align: center;
  flex: 1;
  padding: 30px;
  background-color: rgb(127, 213, 242);
  margin: 150px;
  border-radius: 10px;
}
.co{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}
.i{

    padding: 20px;
    border-radius: 10px;
    
    text-align: center;
}
